body {
    background-color: #1f1f1f;
    background-image: linear-gradient(#161616,  #1f1f1f, #1f1f1f, #1f1f1f,  #161616);
}

#fonts {
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Laila', serif;
    font-family: 'Kalam', cursive;
}

h1 {
    font-size: 50px;
    color: #e6d051;
    padding-left: 20px;
    font-family: 'Laila', serif;
    letter-spacing: 1.5px;
}

h4 {
    font-family: 'Laila', serif;
    margin: 0;
    font-size: 20px;
}

b, a {
    color: white;
    text-decoration-line: none;
}

strong.tall {
    line-height: 1.6;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 10px;
}

footer {
    display: flex;
}



section {
    display: flex;
    max-width: 1440px; /*75%*/
    justify-content: flex-start;
    margin-top: 5.3%; 
    margin-bottom: 11%;
    margin-left: 21.2%;
}

div {
    max-width: 1440px;
    display: block;

    color: #adadad;
    font-size: 20px;
    font-family: 'Nanum Gothic', sans-serif;
    line-height: 1.2;
}

div.hello {
    /*padding: 0 600px;
    padding-top: 100px;*/
    padding: 0 32%;
    padding-top: 5.3%;
}

div.intro {
    /*padding: 0 120px;
    padding-bottom: 150px;*/
    padding: 0 6%;
    padding-bottom: 7%;
    max-width: 1440px;
    min-width: 1440px;
    display: flex;
}

div.title {
    margin-right: 80px;
    color: #e6d051;
    font-size: 30px;
    font-family: 'Laila', serif;
    min-width: 160px;
    text-align: right;
    margin-bottom: 10%;
}

div.about {
    padding-top: 22px;
    max-width: 800px;
    min-width: 800px;
}

div.skill {
    display: flex;
    padding-top: 35px;
}
div.skillElement {
    padding-right: 50px;
    line-height: 1.4;
}

div.project {
    padding-top: 40px;
    padding-bottom: 50px;
    display: flex;
}
a.projectImg {
    width: 450px;
    height: 254px;
    padding-right: 50px;
}
div.projectDesc {
    font-size: 16px;
    max-width: 380px;
    min-width: 380px;
}

div.footerTxt {
    font-size: 16px;
    max-width: 115px;
    min-width: 115px;
    padding: 30px;
    margin-right: 200px;
}
div.socials {
    margin-left: auto;
    /*margin-right: 100px;*/
    margin-right: 5.3%;
    min-width: 550px;
}
a.socialLink {
    max-width: 80px;
    max-height: 80px;
    padding: 0 10px;
}

a.faceLink {
    content: url('faceCircle.png');
    border: 0px solid #000;
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
}

div.otherProjects {
    display: flex;
    min-height: 350px;
    width: 1000px;
}

a.otherImg {
    width: 225px;
    height: 127px;
    padding-right: 30px;
}



#intro {
    color: #cacaca;
    font-size: 40px;
    font-family: 'Laila', serif;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    max-width: 900px;
    padding-left: 50px;
}

#faceImg {
    border: 0px solid #000;
    max-width: 250px;
    max-height: 250px;
    padding: 20px;
}

#italics {
    font-size: 18px;
}



/* Projects: */
#project1 {
    content: url('Projects/ETP.png');
}
#project1:hover {
    content: url('Projects/ETPGameplay.gif');
}

#project2, #jam9 {
    content: url('Projects/Split.png');
}
#project2:hover, #jam9:hover {
    content: url('Projects/SplitGameplay.gif');
}

#project3 {
    content: url('Projects/Valhalla.png');
}
#project3:hover {
    content: url('Projects/ETPGameplay.gif');
}

#project4, #jam2 {
    content: url('GameJams/CosmicConflict.png');
}
#project4:hover, #jam2:hover{
    content: url('GameJams/CosmicConflict.gif');
}



/* Icons: */
#icon1{
    content: url('SocialIcons/mail.png');
}
#icon2 {
    content: url('SocialIcons/itch.png');
}
#icon3 {
    content: url('SocialIcons/linkedin.png');
}
#icon4 {
    content: url('SocialIcons/github.png');
}
#icon5 {
    content: url('SocialIcons/twitter.png');
}



/* Other Projects: */
#otherProject1 {
    content: url('Projects/FightingFoliage.png');
}

#otherProject2 {
    content: url('Projects/ARWarhawk.png');
}

#otherProject3 {
    content: url('Projects/ClockWatchers.jpeg');
}

p.otherText {
    display: none;
    font-size: 15px;
    width: 225px;
}

a.otherImg:hover + #text1 {
    display: block;
}
a.otherImg:hover + #text2 {
    display: block;
}
a.otherImg:hover + #text3 {
    display: block;
}


/* Jams List */
#jam1 {
    content: url('GameJams/FarFromHome.png');
}
#jam1:hover {
    content: url('GameJams/FarFromHome.gif');
}

/*#jam2 {
    content: url('GameJams/CosmicConflict.png');
}
#jam2:hover {
    content: url('GameJams/CosmicConflict.gif');
}*/

#jam3 {
    content: url('GameJams/BotBoy.png');
}
#jam3:hover {
    content: url('GameJams/BotBoy.gif');
}

#jam4 {
    content: url('GameJams/CaveOfUncertainty.png');
}
#jam4:hover {
    content: url('GameJams/CaveOfUncertainty.gif');
}

#jam5 {
    content: url('GameJams/SystemOverload.PNG');
}
#jam5:hover {
    content: url('GameJams/SystemOverload.gif');
}

#jam6 {
    content: url('GameJams/CardConquest.png');
}
#jam6:hover {
    content: url('GameJams/CardConquest.gif');
}

#jam7 {
    content: url('GameJams/Guppy.png');
}
#jam7:hover {
    content: url('GameJams/Guppy.gif');
}

#jam8 {
    content: url('GameJams/CastleRepair.PNG');
}
#jam8:hover {
    content: url('GameJams/CastleRepair.png');
}

/*Split reused*/

#jam10 {
    content: url('GameJams/IndianaDuck.png');
}
#jam10:hover {
    content: url('GameJams/IndianaDuck.gif');
}

#jam11 {
    content: url('GameJams/CastleSiege.png');
}
#jam11:hover {
    content: url('GameJams/CastleSiege.gif');
}

#jam12 {
    content: url('GameJams/AnotherLeftTurn.png');
}
#jam12:hover {
    content: url('GameJams/AnotherLeftTurn.gif');
}

#jam13 {
    content: url('GameJams/CritterParty.png');
}
#jam13:hover {
    content: url('GameJams/CritterParty.gif');
}

#jam14 {
    content: url('GameJams/VRGame.png');
}
#jam14:hover {
    content: url('GameJams/VRGame.gif');
}

#jam15 {
    content: url('GameJams/DoggoRescue.png');
}
#jam15:hover {
    content: url('GameJams/DoggoRescue.gif');
}