/*font details*/

.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cabin-uniquifier {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* main page */

body {
    background-color: #1f1f1f;
    background-image: linear-gradient(#161616,  #1f1f1f, #1f1f1f, #1f1f1f,  #161616);
}

div.hello {
    font-size: 50px;
    color: #e6d051;
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 20px 32%;
    padding-top: 8%;
    padding-bottom: 5%;
}

div.intro {
  vertical-align: middle;
}

.faceLink {
  padding: 50px;
  vertical-align: middle;
}

/*Intro text within intro*/
#intro {
  color: #cacaca;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  padding: 50px;
}

#center {
  text-align: center;
}

#right {
  text-align: right;
}

.header {
  color: #e6d051;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 10%;
  margin-right: 50px;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: #cacaca;
}