/*font details*/
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Cabin');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans');


/* These aren't really being used, but here for ref*/
.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-sketch-bold {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.cabin-uniquifier {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "width" 100;
  letter-spacing: 1px;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}


/* main page */

/* General Use*/
body {
    background-color: #1f1f1f;
    background-image: linear-gradient(#161616,  #1f1f1f, #1f1f1f, #1f1f1f,  #161616);
}

#center {
  text-align: center;
}

#left {
  text-align: left;
}

#right {
  text-align: right;
}

.header {
  color: #e6d051;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  margin-bottom: 10%;
  margin-right: 50px;
  text-shadow: 2px 2px 3px #000000, 5px 5px 9px #000000;
}

p {
  font-family: 'Fira Sans', sans-serif;
  color: #cacaca;
  letter-spacing: 0.1px;
  text-shadow: 2px 2px 10px #000000;
}

.text-emphasis {
  font-size: 120%;
  color: #e6d051;
  font-family: 'Cabin Sketch', sans-serif;
  letter-spacing: 110%;
}

.text-block-spacer {
  margin-top: 200px
}

/*Intro*/
div.hello {
    font-size: 50px;
    color: #e6d051;
    font-family: 'Cabin Sketch', sans-serif;
    font-weight: 400;
    letter-spacing: 1.5px;
    padding: 20px 32%;
    padding-top: 8%;
    padding-bottom: 5%;
    text-shadow: 2px 2px 1px #000000, 5px 5px 9px #000000;
}

div.intro {
  vertical-align: middle;
}

.faceLink {
  vertical-align: middle;
  border-radius: 100%;
  box-shadow: 0px 0px 40px black;
}

/*Intro text within intro*/
#intro {
  color: #cacaca;
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
  padding: 50px;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px 10px #000000;
}

.about-text {
  padding-top: 1%;
}

/*Skills*/
.skills-col {
  padding-top: 1%;
  min-width: 15%;
  margin-right: 2%;
  margin-bottom: 5%;
}

.skills-col-squish {
  padding-top: 1%;
  margin-bottom: 9%;
}

.skills-header {
  font-size: 130%;
  color: white;
  font-family: 'Cabin', sans-serif;
  text-shadow: 2px 2px 3px #000000, 5px 5px 9px #000000;
  letter-spacing: 110%;
  padding-bottom: 20px;
}

.skills-text {
  font-family: 'Fira Sans', sans-serif;
  color: #cacaca;
  letter-spacing: 0.1px;
  text-shadow: 2px 2px 10px #000000;
  line-height: 170%;
}

/*Projects*/
.project-block {
  box-shadow: 2px 0px 7px black, 2px 0px 40px black;
  margin-right: 3%;
  margin-bottom: 3%;
}

.project-block-title {
  text-shadow: 2px 2px 3px #000000, 5px 5px 9px #000000;
  text-align: center;
  vertical-align: text-bottom;
  color: #cacaca;
  font-family: 'Cabin', sans-serif;
  font-size: 190%;
  margin-bottom: 0;
  padding-top: 5px;
}

.project-modal {
  background-color: #494949;
}
.modal-footer.project-modal {
  background-color: #494949;
  border: black;
}

.modal-title.project-modal-header {
  font-size: 250%;
  color: #e6d051;
  text-shadow: 2px 2px 3px #000000, 5px 5px 9px #000000;
  font-family: 'Cabin Sketch', sans-serif;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.modal-images {
  box-shadow: 0px 0px 20px rgb(41, 41, 41);
}

/*Footer*/
.link-img {
  border-radius: 100%;
  box-shadow: 2px 0px 7px black, 2px 0px 40px black;
  cursor: pointer;
}